#head{
	background-color: black;
	color: white;
	opacity: 0.6;
	margin-top:10px;
	
}

body{
	background-image: url("bg.jpg");
}
#topright{
	float:right;
}

	
#topcenter{
	width: 200px;
    height:600px;
    border: 1px solid black;
    box-sizing: border-box;
    background-color : black;
    float:right;
    opacity: 0.6;
}
#topleft{
	width: 200px;
    height:700px;
    border: 1px solid black;
    box-sizing: border-box;
    background-color : black;
    opacity: 0.6;
}
#footer{
    margin-top: 20px;
    width: 1250px;
    height: 50px;
    border-style: solid;
    border-color: black;
    border-width: 5px;
    border-radius: 3px;
    opacity: 0.6;
    background-color : black;
}




